{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br>

<body class="col-lg-12">  

{% if not my_orders %}
<h3>Sorry !! there was no  orders in selected dates </h3>
{% endif %}
{% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h3>{{ message }}</h3></li>
      {% endfor %}
  </ul>
  {% endif %}
  
 


{% for order in my_orders %}
{% for i in order %}




<section  style="background-color: #eee; width: 1050px;">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
            <div class="card-body p-5">
  
              <p class="lead fw-bold mb-5" style="color: #f37a27;">Order id : {{i.order_id}}</p>
  
              <div class="row">
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Date</p>
                  <p>{{i.order_date}}</p>
                </div>
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Order No.</p>
                  <p>{{i.order_id}}</p>
                </div>
              </div>
              {% for d in i.cart.all %}
              <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p>{{d.dishes.dish_name}}</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <p>{{d.total_price}}</p>
                  </div>
                </div>
              
              </div>
              {% endfor %}
  
              <div class="row my-4">
                
                <div class="col-md-4 offset-md-8 col-lg-12 offset-lg-9">
                <p  style="color: #f37a27;">Total price : {{i.total_price}}</p>
                </div>
              </div>
  
             
  
                </div>
              </div>
  
          
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br><br>
  {% endfor %}
  {% endfor %}
  


</body>

{% endblock %}